<div class="app--container">
  <div class="app--wrapper">
    <!-- image goes here -->
    <div class="image">
      <img src="/assets/images/rocket3.svg" alt="" />
    </div>
    <h3 class="uppercase">Login to continue</h3>
    <form action="/admin/login" method="POST">
      <div class="app--form">
        <input
          type="email"
          name="email"
          id="email"
          placeholder="email"
          required
        />
      </div>
      <div class="app--form">
        <input
          type="password"
          name="password"
          placeholder="password"
          id=""
          required
        />
      </div>
      <button type="submit">Login</button>
    </form>

    <div class="app--options">
      <ul>
        <li><a href="/admin/register">Create an account</a></li>
        <li><a href="/supplier/login">Login as a Supplier</a></li>
      </ul>
    </div>
  </div>
</div>
