.app--form {
  input {
    width: 100%;
    padding: 12px 40px;
    margin: 8px 0;
  }
}

button {
  background-color: rgb(102, 109, 103);
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 120px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
