.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: $p-15;
    padding-left: $p-15;
    /* for edge cases: */
    width: 100%;
    max-width: 100%;
  }

  @media (min-width: 768px) {
    .container{
      width: 750px;
    }
  }
  
  @media (min-width: 992px) {
    .container{
      width: 970px;
    }
  }
  
  @media (min-width: 1200px) {
    .container{
      width: 1170px;
    }
  }

// to uppercase
  .uppercase{
    text-transform: uppercase;
  }

// padding left 15px

.pl-15{
  padding-left: $p-15;
}

// padding right 15px

.pr-15{
  padding-right: $p-15;
}

// padding top 15px

.pt-15{
  padding-top: $p-15;
}

// padding left 15px

.pb-15{
  padding-bottom: $p-15;
}
  
// padding all 15px

.p-15{
  padding: $p-15;
}

// margin right 15px

.ml-15{
  margin-left: $p-15;
}

// margin right 15px

.mr-15{
  margin-right: $p-15;
}

// margin top 15px

.mt-15{
  margin-top: $p-15;
}

// margin left 15px

.mb-15{
  margin-bottom: $p-15;
}
  
// margin all 15px

.m-15{
  margin: $p-15;
}
  
